<html>

<head>
    <title>Console</title>
    <link href="/static/css/pico.min.css" rel="stylesheet">
    <link href="/static/css/pico-overrides.css" rel="stylesheet">
</head>

<body>
    <main class="container">
        <div class="grid">
            <div>
                <div class="grid">
                    <a role="button" href="/login?logout=1">Logout</a>
                </div>
                <div class="grid">
                    <table style="height: min-content;">
                        <thead>
                            <tr>
                                <th>clientname</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th>{{ clientname }}</th>
                            </tr>
                        </tbody>
                    </table>
                    <table>
                        <thead>
                            <tr>
                                <th>
                                    scopes
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for scope in scopes %}
                            <tr>
                                <th>{{ scope }}</th>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </main>
</body>

</html>