<!DOCTYPE html>
<html lang="en">

<head>
    <title>Login</title>
    <link href="static/css/pico.min.css" rel="stylesheet" />
    <link href="static/css/pico-overrides.css" rel="stylesheet" />
</head>

<body>
    <main class="container">
        <form action="/login/submit" method="post">
            <label for="username">Username</label>
            <input id="username" name="username" autocomplete="username" placeholder="Enter username..." />
            <label for="password">Password</label>
            <input id="password" name="password" type="password" autocomplete="current-password"
                placeholder="Enter password..." />
            <button type="submit">Submit</button>
            {% block content %}
            <div class="error-message">{{ error }}</div>
            {% endblock %}
        </form>
    </main>
</body>

</html>